h1, h2 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 30pt;
}

h2 {
	font-size: 20pt;
}

body {
    background-color: lightblue;
}

a {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	display: block;
	padding-top: 20pt;
	color: brown;
	text-decoration: none;
	font-size: 20pt;
}

a:hover {
	color: red;
	text-decoration: underline;
	font-size: 22pt;
}

img.pic {
	width: 200px;
	height: auto;
}