h1, h2 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 30pt;
	font-weight: bolder;
}

h2 {
	font-size: 20pt;
}

body {
    background-color: saddlebrown;
}

a {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	display: block;
	padding-top: 20pt;
	color: dodgerblue;
	text-decoration: none;
	font-size: 20pt;
	font-weight: bold;
}

a:hover {
	color: red;
	font-size: 24pt;
}

img.pic {
	width: 200px;
	height: auto;
}